<!DOCTYPE html>
<html lang="en">
<%- include('layout/head')%>
<body>
    <%- include('layout/header')%>
    <main>
        <% data.forEach(charInfo =>{ %>
            <section>
                <h3><a href="/character/<%= charInfo.id %>"><%= charInfo.name %></a></h3>
        </section>
        <% })%>
    </main>
    <%- include('layout/footer')%>
</body>
</html>